:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /*Neutral*/
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%)
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: var(--white);
    padding: 1.25rem;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.card {
    background-color: var(--card-bg);
    padding: 1.25rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.card p {
    color: var(--soft-blue);
}

.card h2 {
    margin: 2rem 0;
}

.card h2:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card .img-container {
    position: relative;
}

.card .img-container div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 8px;
}

.card .img-container div:hover {
    opacity: 1;
    cursor: pointer;
}

.card .img-container div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-color);
}

.price, .time-remaining {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2rem 0;
}

.price p {
    color: var(--cyan);
}

.credit {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 2rem;
}

.credit img {
    border : 2px solid white;
    border-radius: 50%;
    width: 4rem;
}

.credit p span {
    color: var(--white);
}

.credit p span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution { 
    color: white;
    font-size: 18px; text-align: center; 
    margin-top: 24px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:500px) {
    .card {
        width: 350px;
        margin: 0 auto 1rem;
    }
}